<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestor De Tareas</title>
    <link rel="shortcut icon" href="~/images/umad16px.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/umad80.png" height="50"  /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                            <div class="navbar-collapse collapse d-sm-inline-flex">
                                <ul class="nav navbar navbar-right">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">Catálogos</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Careers" asp-action="Index">Carreras</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categorías</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ContactPeople" asp-action="Index">Personas de Contacto</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Index">Paises</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Genders" asp-action="Index">Géneros</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Institutes" asp-action="Index">Institutos</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Priorities" asp-action="Index">Prioridades</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Statuses" asp-action="Index">Estados</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Positions" asp-action="Index">Puestos</a>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="navbar-nav flex-grow-1">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Students" asp-action="Index" style="color: #000000">Estudiantes</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Workers" asp-action="Index" style="color: #000000">Trabajadores</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar navbar-right">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">@User.Identity.Name</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="ChangePassword" style="color:  #000000">Cambiar Contraseña</a>
                                            <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Logout" style="color: #000000;">Cerrar Sesión</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }

                    else if (User.IsInRole("Student"))
                    {
                        <ul class="nav navbar navbar-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">@User.Identity.Name</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="ChangePassword" style="color:  #000000">Cambiar Contraseña</a>
                                    <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Logout" style="color: #000000;">Cerrar Sesión</a>
                                </div>
                            </li>
                        </ul>
                    }
                    else if (User.IsInRole("Coordinator"))
                    {
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                            <div class="navbar-collapse collapse d-sm-inline-flex">
                                <ul class="navbar-nav flex-grow-1">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Students" asp-action="Index" style="color: #000000">Estudiantes</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Workers" asp-action="Index" style="color: #000000">Docentes</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar navbar-right">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">@User.Identity.Name</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="ChangePassword" style="color:  #000000">Cambiar Contraseña</a>
                                            <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Logout" style="color: #000000;">Cerrar Sesión</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    else if(User.IsInRole("Teacher"))
                    {
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                            <div class="navbar-collapse collapse d-sm-inline-flex">
                                <ul class="navbar-nav flex-grow-1">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Students" asp-action="Index" style="color: #000000">Estudiantes</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar navbar-right">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">@User.Identity.Name</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="ChangePassword" style="color:  #000000">Cambiar Contraseña</a>
                                            <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Logout" style="color: #000000;">Cerrar Sesión</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="navbar-nav flex-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-primary" asp-controller="Accounts" asp-action="Login">
                                    <span class="icon-user"></span>  Iniciar Sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GestorTareas.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
