@model GestorTareas.Web.Data.Entities.Project

@{
    ViewData["Title"] = "Detalles del Proyecto";
}

<link rel="stylesheet" href="~/css/style-icon.css" />

<h1>Detalles del Proyecto</h1>

<div>
    <h4>Proyecto</h4>
    <a asp-action="AddCollaborator" asp-route-id="@Model.Id" class="btn btn btn-outline-success">
                    <span class="icon-plus"></span> Añadir Colaboradores al Proyecto</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class="col-sm-2">
            Convocatoria Relacionada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Convocation.Summary)
        </dd>
    </dl>
</div>
<h4>Personas Asignadas</h4>
<table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th scope="col">
                Nombre completo
            </th>
            <th scope="col">
                Correo Electrónico
            </th>
            <th scope="col">
                Eliminar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectCollaborators)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td> 
                    <a asp-action="DeleteCollaboratorFromList" asp-route-projectId="@item.Project.Id" asp-route-userId="@item.User.Id" class="btn btn-outline-danger">
                        <span class="icon-cancel-circle"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-outline-secondary">
        <span class="icon-undo2"></span>  Regresar a la lista
    </a>
</div>
