@model IEnumerable<GestorTareas.Web.Data.Entities.Career>

@{
    ViewData["Title"] = "Carreras";
}

<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/style-icon.css" />

<h1>Carreras</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">
        <span class="icon-plus"></span> Añadir Nueva Carrera
    </a>
</p>
<table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CareerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col">
                    <a>Editar</a>
                </th>
                <th scope="col">
                    <a>Detalles</a>
                </th>
                <th scope="col">
                    <a>Eliminar</a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CareerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                        <span class="icon-pencil"></span>
                        </a>
                    </td>
                    <td>
                         <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">
                            <span class="icon-list"></span>
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                            <span class="icon-cancel-circle"></span>
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>