@model IEnumerable<GestorTareas.Web.Data.Entities.Worker>

@{
    ViewData["Title"] = "Trabajadores";
}
<link rel="stylesheet" href="~/css/style-icon.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/javascript" href="~/js/site.js"/>
<link type="text/css" rel="stylesheet" href="~/css/estilosHome.css" />

<h1>Trabajadores</h1>
<div class="row justify-content-between">
<div class="col-4">
    <p>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn btn-outline-success">
                <span class="icon-user-plus"></span> Nuevo Trabajador</a>
        }
        else if(User.IsInRole("Coordinator"))
        {
        }
    </p>
</div>
<br />
<div class="col-4">
    <div class="dropdown">
      <button class="btn dropdown-toggle btn-outline-primary float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="icon-sort-alpha-asc"></span>
        Ordenar por:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"> @Html.ActionLink("Por Apellido Paterno (Ascendente)", "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class="linkButton", style="color:black; text-decoration: none; padding: 10px;" }) </a>
        <a class="dropdown-item" href="#"> @Html.ActionLink(" Por Puesto (Ascendente) ", "Index", new { sortOrder = ViewBag.PositionSortParm }, new { style="color:black; text-decoration: none; padding: 10px;"}) </a>
      </div>
    </div>
</div>
</div>
<table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.WorkerId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Position.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.PhotoUrl)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col">
                    <a>Editar</a>
                </th>
                <th scope="col">
                    <a>Detalles</a>
                </th>
                <th scope="col">
                    <a>Eliminar</a>
                </th>
            }
            else if(User.IsInRole("Coordinator"))
            {
                <th scope="col">
                    <a>Editar</a>
                </th>
                <th scope="col">
                    <a>Detalles</a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Position.Description)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.User.PhotoUrl))
                {
                    <img src="@Url.Content(item.User.PhotoUrl)" style="width:100px; height:auto;" />
                }
            </td>
            @if (User.IsInRole("Admin"))
            {

            <td> 
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <span class="icon-pencil"></span></a>
            </td>
            <td>
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn btn-outline-dark">
                    <span class="icon-list"></span></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                    <span class="icon-cancel-circle"></span></a>
            </td>
            } else if(User.IsInRole("Coordinator"))
            {
                <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <span class="icon-pencil"></span></a>
                 </td>
                 <td>
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn btn-outline-dark">
                    <span class="icon-list"></span></a>
                 </td>
            }
        </tr>
}
    </tbody>
</table>

<script>
    function ChangeView()
    {
        $.ajax(
            {
                url: "@Url.Action("Index", "Workers")",
                type: "GET",
                data: { order: $('#orderBy').val() 
            },
            success: function(data) 
            {
                var order ={"order":$('#orderBy').val() }
                location.href = '/Workers/Index';
                $(this).r(location.href, {"order":order});
            }
        });
    }
</script>
