@model IEnumerable<GestorTareas.Web.Data.Entities.Worker>

@{
    ViewData["Title"] = "Trabajadores";
}
<link rel="stylesheet" href="~/css/style-icon.css" />
<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />

<h1>Trabajadores</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-outline-success">
            <span class="icon-user-plus"></span> Nuevo Trabajador</a>
    }
    else if(User.IsInRole("Coordinator"))
    {
        
    }
</p>
<table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.WorkerId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Position.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.PhotoUrl)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col">
                    <a>Editar</a>
                </th>
                <th scope="col">
                    <a>Detalles</a>
                </th>
                <th scope="col">
                    <a>Eliminar</a>
                </th>
            }
            else if(User.IsInRole("Coordinator"))
            {
                <th scope="col">
                    <a>Editar</a>
                </th>
                <th scope="col">
                    <a>Detalles</a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Position.Description)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.User.PhotoUrl))
                {
                    <img src="@Url.Content(item.User.PhotoUrl)" style="width:100px; height:auto;" />
                }
            </td>
            @if (User.IsInRole("Admin"))
            {

            <td> 
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <span class="icon-pencil"></span></a>
            </td>
            <td>
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn btn-outline-dark">
                    <span class="icon-list"></span></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                    <span class="icon-cancel-circle"></span></a>
            </td>
            } else if(User.IsInRole("Coordinator"))
            {
                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <span class="icon-pencil"></span></a>
                 </td>
                 <td>
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn btn-outline-dark">
                    <span class="icon-list"></span></a>
                 </td>
            }
        </tr>
}
    </tbody>
</table>
