@model IEnumerable<GestorTareas.Web.Data.Entities.Background>

@{
    ViewData["Title"] = "Imágenes de Fondo";
}

<link rel="stylesheet" href="~/css/style-icon.css" />

<h1>Imágenes de Fondo</h1>

<p>
    <a asp-action="AddNewBackgroundPicture"class="btn btn-outline-success">
        <span class="icon-plus"></span> Nueva Imagen de Fondo
    </a>
</p>
<table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th scope="col">
                <a>Establecer como fondo</a>
            </th>
            <th>
                <a>Eliminar</a>
            </th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.PhotoUrl))
                    {
                        <img src="@Url.Content(item.PhotoUrl)" style="width:250px; height:auto;" />
                    }
                </td>
                    @if(item.EstablishedPicture)
                    {
                    <td>
                        <input class="form-check-input" type="radio" name="picture" value="@item.Id" checked/>
                        </td>
                    }
                    else
                    { 
                        <td>
                            <input class="form-check-input" type="radio" name="picture" value="@item.Id"/>
                        </td>
                    }
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                        <span class="icon-cancel-circle"></span></a>
                    </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>

    $('input[type=radio]').on("change",function() 
    {
            var list = document.getElementsByName("picture");

            for (i = 0; i < list.length; i++) 
            {
                if (list[i].checked) 
                {
                    $.ajax(
                        {
                            url: '@Url.Action("ChangeStatus","Backgrounds")',
                            data: { id: list[i].value },
                        }).done
                        ( function()
                        {
                            window.location.href = '@Url.Action("Index", "Home")';
                        });

                }
            }
    });
           
    </script>
}
